<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ContextRequesterApp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name">
        <activity android:name="ContextRequestAct"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="org.jingbling.ContextEngine.ContextService"
                 android:enabled="true">
            <intent-filter>
                <action android:name="org.jingbling.ContextEngine.ContextService" />
            </intent-filter>
        </service>
    </application>
</manifest> 
